<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <title>Productos</title>

    <!-- Bootstrap -->

    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
    rel="stylesheet">

</head>

<body class="bg-light">

    <div class="container mt-5">

        <h1 class="text-center mb-4">
            Lista de Productos
        </h1>

        <div class="row">

            <% productos.forEach(producto => { %>

                <div class="col-md-4">

                    <div class="card shadow mb-4">

                        <div class="card-body">

                            <h3 class="card-title">
                                <%= producto.nombre %>
                            </h3>

                            <p class="card-text">
                                Precio:
                                $<%= producto.precio %>
                            </p>

                        </div>

                    </div>

                </div>

            <% }) %>

        </div>

    </div>

</body>
</html>